<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar With Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/resource/static/css/style.css">
    <script src="https://kit.fontawesome.com/dd209636af.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="fa-solid fa-sliders"></i>
                </button>
                <div class="sidebar-logo me-2">
                    <a href="#">ZURADA BOOKS</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="fa-solid fa-chart-simple"></i>
                        <span>Analisis</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse m " data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link" type="button">
                                <i class="fa-solid fa-book-bookmark"></i>
                                <span>Kategori</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="fa-solid fa-swatchbook"></i>
                                <span>Penjualan</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- Dashboard Display -->
        <div class="main">
            <nav class="navbar navbar-expand px-4 py-2">
                <h3 class="fw-medium ms-auto text-white ">
                    Dashboard
                </h3>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-icon pe-md-0 text-white" data-bs-toggle="dropdown">
                                <span>Hallo Admin👋</span>
                                <img src="/resource/static/asset/Avatar.jpg" alt="" class="avatar img-fluid">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end rounded">
                                <div class="dropdown-devider">
                                    <a href="#" class="dropdown-item">
                                        <i class="fa-solid fa-user-gear"></i>
                                        <span>Akun</span>
                                    </a>
                                </div>
                                <div class="dropdown-devider">
                                    <a href="#" class="dropdown-item">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                        <span>Keluar</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Card Calculation -->
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-2">
                        <h3 class="fw-medium fs-4 mb-3">Laporan penjualan</h3>
                        <div class="row g-3 mb-5">
                            <!-- Card 1 -->
                            <div class="col-12 col-md-3">
                                <div class="card border-0" data-bs-toggle="modal" data-bs-target="#modalCard1">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Buku Masuk<br>Minggu ini
                                        </h5>
                                        <p class="mb-2 fw-bold">
                                            <i class="fa-solid fa-award text-warning"></i>
                                            <span class="badge text-success me-2">10 Buku</span>
                                        </p>
                                        <div class="mb-0">
                                            <span class="badge text-success me-2">+120</span>
                                            <span class="fw-bold"><i class="fa-solid fa-arrow-up-right-dots"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card 2 -->
                            <div class="col-12 col-md-3">
                                <div class="card border-0" data-bs-toggle="modal" data-bs-target="#modalCard2">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Buku Terjual<br>Minggu ini
                                        </h5>
                                        <p class="mb-2 fw-bold">
                                            <i class="fa-solid fa-award text-warning"></i>
                                            <span class="badge text-success me-2">15 Buku</span>
                                        </p>
                                        <div class="mb-0">
                                            <span class="badge text-success me-2">+32</span>
                                            <span class="fw-bold"><i class="fa-solid fa-arrow-up-right-dots"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card 3 -->
                            <div class="col-12 col-md-3">
                                <div class="card border-0" data-bs-toggle="modal" data-bs-target="#modalCard3">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Buku Terlaris<br>Minggu ini
                                        </h5>
                                        <p class="mb-2 fw-bold">
                                            <i class="fa-solid fa-award text-warning"></i>
                                            <span class="badge text-success me-2">3 Buku</span>
                                        </p>
                                        <div class="mb-0">
                                            <span class="badge text-success me-2">+7</span>
                                            <span class="fw-bold"><i class="fa-solid fa-arrow-up-right-dots"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card 4 -->
                            <div class="col-12 col-md-3">
                                <div class="card border-0" data-bs-toggle="modal" data-bs-target="#modalCard4">
                                    <div class="card-body py-4">
                                        <h5 class="mb-2 fw-bold">
                                            Kategori Terlaris<br>Minggu ini
                                        </h5>
                                        <p class="mb-2 fw-bold">
                                            <i class="fa-solid fa-award text-warning"></i>
                                            <span class="badge text-success me-2">2 Kategori</span>
                                        </p>
                                        <div class="mb-0">
                                            <span class="badge text-success me-2">+4</span>
                                            <span class="fw-bold"><i class="fa-solid fa-arrow-up-right-dots"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 1 -->
                <div class="modal fade" id="modalCard1" tabindex="-1" aria-labelledby="modalCard1Label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCard1Label">Laporan Buku Masuk Minggu Ini</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Buku masuk minggu ini adalah 10 buku. Total tambahan buku yang sebelumnya 110 menjadi
                                total 120.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 2 -->
                <div class="modal fade" id="modalCard2" tabindex="-1" aria-labelledby="modalCard2Label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCard2Label">Laporan Buku Terjual Minggu Ini</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Buku terjual minggu ini adalah 15 buku. Total buku yang terjual selama ini menjadi 32
                                buku.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 3 -->
                <div class="modal fade" id="modalCard3" tabindex="-1" aria-labelledby="modalCard3Label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCard3Label">Laporan Buku Terlaris Minggu Ini</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li>Judul: Laskar Pelangi, Author: Andrea Hirata</li>
                                    <li>Judul: Bumi Manusia, Author: Pramoedya Ananta Toer</li>
                                    <li>Judul: Negeri 5 Menara, Author: Ahmad Fuadi</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 4 -->
                <div class="modal fade" id="modalCard4" tabindex="-1" aria-labelledby="modalCard4Label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCard4Label">Laporan Kategori Terlaris Minggu Ini</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Kategori terlaris minggu ini adalah 2 kategori buku:
                                <ul>
                                    <li>Fiksi</li>
                                    <li>Non-Fiksi</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gap-1">
                    <div class="input-group mb-3" style="width: 30%;">
                        <input type="text" class="form-control" placeholder="Cari Buku" aria-label="Cari Buku"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" style="width: 50px;" type="button" id="button-addon2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="highlight">
                                        <th scope="col" class="text-center">ID</th>
                                        <th scope="col">Judul</th>
                                        <th scope="col" class="text-center">Author</th>
                                        <th scope="col">Deskripsi</th>
                                        <th scope="col" class="text-center">Harga</th>
                                        <th scope="col" class="text-center">Kategori</th>
                                        <th scope="col" class="text-center">Stok</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="text-center">001</th>
                                        <td>Laskar Pelangi</td>
                                        <td class="text-center">Andrea Hirata</td>
                                        <td>Sebuah novel inspiratif yang mengisahkan perjuangan anak-anak Belitung dalam
                                            mengejar pendidikan.</td>
                                        <td class="text-center">Rp.95,000</td>
                                        <td class="text-center">Novel</td>
                                        <td class="text-center">15</td>
                                        <td class="text-center">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#editBukuModal">
                                                <i class="fa-solid fa-file-pen text-primary"></i>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#hapusBukuModal">
                                                <i class="fa-solid fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">002</th>
                                        <td>Negeri 5 Menara</td>
                                        <td class="text-center">Ahmad Fuadi</td>
                                        <td>Novel yang menceritakan kisah perjuangan enam santri dari latar belakang
                                            berbeda dalam mengejar impian mereka.</td>
                                        <td class="text-center">Rp. 85,000</td>
                                        <td class="text-center">Novel</td>
                                        <td class="text-center">12</td>
                                        <td class="text-center">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#editBukuModal">
                                                <i class="fa-solid fa-file-pen text-primary"></i>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#hapusBukuModal">
                                                <i class="fa-solid fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">003</th>
                                        <td>Gajah Mada: Hamukti Palapa</td>
                                        <td class="text-center">Langit Kresna Hariadi</td>
                                        <td>Kisah sejarah yang menceritakan tentang perjalanan Gajah Mada dalam
                                            mempersatukan Nusantara.</td>
                                        <td class="text-center">Rp. 90,000</td>
                                        <td class="text-center">Sejarah</td>
                                        <td class="text-center">8</td>
                                        <td class="text-center">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#editBukuModal">
                                                <i class="fa-solid fa-file-pen text-primary"></i>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#hapusBukuModal">
                                                <i class="fa-solid fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">004</th>
                                        <td>Supernova: Ksatria, Putri, dan Bintang Jatuh</td>
                                        <td class="text-center">Dee Lestari</td>
                                        <td>Novel yang memadukan unsur fiksi ilmiah dengan filsafat dan realitas sosial.
                                        </td>
                                        <td class="text-center">Rp. 100,000</td>
                                        <td class="text-center">Fiksi Ilmiah</td>
                                        <td class="text-center">10</td>
                                        <td class="text-center">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#editBukuModal">
                                                <i class="fa-solid fa-file-pen text-primary"></i>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#hapusBukuModal">
                                                <i class="fa-solid fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">005</th>
                                        <td>Bumi Manusia</td>
                                        <td class="text-center">Pramoedya Ananta Toer</td>
                                        <td>Karya sastra yang menggambarkan kehidupan di masa kolonialisme Belanda di
                                            Indonesia.
                                        </td>
                                        <td class="text-center">Rp. 80,000</td>
                                        <td class="text-center">Sastra</td>
                                        <td class="text-center">21</td>
                                        <td class="text-center">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#editBukuModal">
                                                <i class="fa-solid fa-file-pen text-primary"></i>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#hapusBukuModal">
                                                <i class="fa-solid fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav>
                                </tbody>
                                </table>
                                <div class="d-flex justify-content-between align-items-center mt-4">
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link bg-primary text-white" href="#">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link bg-primary text-white" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <button class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#tambahBukuModal">Tambah Buku
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- Modal Edit Buku -->
                    <div class="modal fade" id="editBukuModal" tabindex="-1" aria-labelledby="editBukuModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editBukuModalLabel">Edit Buku</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="formEditBuku">
                                        <div class="mb-3">
                                            <label for="editJudul" class="form-label">Judul</label>
                                            <input type="text" class="form-control" id="editJudul" name="judul"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editAuthor" class="form-label">Author</label>
                                            <input type="text" class="form-control" id="editAuthor" name="author"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editDeskripsi" class="form-label">Deskripsi</label>
                                            <textarea class="form-control" id="editDeskripsi" name="deskripsi" rows="3"
                                                required></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editHarga" class="form-label">Harga</label>
                                            <input type="number" class="form-control" id="editHarga" name="harga"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editKategori" class="form-label">Kategori</label>
                                            <select class="form-control" id="editKategori" name="kategori" required>
                                                <option value="" disabled selected>Pilih Kategori</option>
                                                <option value="Fiksi">Fiksi</option>
                                                <option value="Non-Fiksi">Non-Fiksi</option>
                                                <option value="Biografi">Biografi</option>
                                                <option value="Sejarah">Sejarah</option>
                                                <option value="Sastra">Sastra</option>
                                                <option value="Fiksi Ilmiah">Fiksi Ilmiah</option>
                                                <option value="Fantasi">Fantasi</option>
                                                <option value="Romansa">Romansa</option>
                                                <option value="Misteri/Detektif">Misteri/Detektif</option>
                                                <option value="Horor">Horor</option>
                                                <option value="Anak-Anak">Anak-Anak</option>
                                                <option value="Pendidikan">Pendidikan</option>
                                                <option value="Komik/Graphic Novel">Komik/Graphic Novel</option>
                                                <option value="Puisi">Puisi</option>
                                                <option value="Pengembangan Diri">Pengembangan Diri</option>
                                                <option value="Bisnis">Bisnis</option>
                                                <option value="Teknologi">Teknologi</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editStok" class="form-label">Stok</label>
                                            <input type="number" class="form-control" id="editStok" name="stok"
                                                required>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Hapus Buku -->
                    <div class="modal fade" id="hapusBukuModal" tabindex="-1" aria-labelledby="hapusBukuModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hapusBukuModalLabel">Konfirmasi Hapus</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Yakin akan menghapus Buku?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Batal</button>
                                    <button type="button" class="btn btn-danger">Hapus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Tambah Buku -->
                    <div class="modal fade" id="tambahBukuModal" tabindex="-1" aria-labelledby="tambahBukuLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="tambahBukuLabel">Tambah Buku</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="formTambahBuku">
                                        <div class="mb-3">
                                            <label for="judul" class="form-label">Judul :</label>
                                            <input type="text" class="form-control" id="judul" name="judul" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="author" class="form-label">Author :</label>
                                            <input type="text" class="form-control" id="author" name="author" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="deskripsi" class="form-label">Deskripsi :</label>
                                            <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3"
                                                required></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editKategori" class="form-label">Kategori</label>
                                            <select class="form-control" id="editKategori" name="kategori" required>
                                                <option value="" disabled selected>Pilih Kategori</option>
                                                <option value="Fiksi">Fiksi</option>
                                                <option value="Non-Fiksi">Non-Fiksi</option>
                                                <option value="Biografi">Biografi</option>
                                                <option value="Sejarah">Sejarah</option>
                                                <option value="Sastra">Sastra</option>
                                                <option value="Fiksi Ilmiah">Fiksi Ilmiah</option>
                                                <option value="Fantasi">Fantasi</option>
                                                <option value="Romansa">Romansa</option>
                                                <option value="Misteri/Detektif">Misteri/Detektif</option>
                                                <option value="Horor">Horor</option>
                                                <option value="Anak-Anak">Anak-Anak</option>
                                                <option value="Pendidikan">Pendidikan</option>
                                                <option value="Komik/Graphic Novel">Komik/Graphic Novel</option>
                                                <option value="Puisi">Puisi</option>
                                                <option value="Pengembangan Diri">Pengembangan Diri</option>
                                                <option value="Bisnis">Bisnis</option>
                                                <option value="Teknologi">Teknologi</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="kategori" class="form-label">Kategori :</label>
                                            <input type="text" class="form-control" id="kategori" name="kategori"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="stok" class="form-label">Stok :</label>
                                            <input type="number" class="form-control" id="stok" name="stok" required>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-success" form="formTambahBuku">Tambah</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-body-secondary">
                        <div class="col-6 text-strat">
                            <a href="#" class="text-body-secondary">
                                <strong>ZURADA Bookstore
                                    <span>
                                        <i class="fa-regular fa-copyright"></i>
                                    </span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/resource/static/js/script.js"></script>
</body>

</html>